.login_section_container {
    padding: 0em 1em;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.top_part{
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-height: 20vh;
    margin-bottom: 1em;
}

.top_part img {
    width: 15vw;
    margin: .2em 1em;
}

#login_btn {
    width: 20vw;
}

.login_form {
    display: grid;
    place-items: center;
    min-height: 50vh;
    flex: 1 1 50vh;
    margin: 3em 0em;
}