.main_container {
    /* grid-template-rows: 20% 80%; */
    margin-left: 20vw;
}

.slot_container {
    display: flex;
    justify-content: flex-end;
    padding: 1em 2em;
}



.clinic_slots_container {
    padding: 0em 2em;
    margin-top: 3em;
}

.slot_entry_container {
    display: grid;
    grid-template-columns: 25% 75%;
    grid-template-rows: 70% 30%;
    padding: 1em;
    border: 1px solid #eee;
    margin: 1em 0em;
}

.manipulate_slot_buttons_container {
    display: flex;
    justify-content: flex-end;
    grid-column: span 2;
    align-items: center;
    margin: 0em 1em;
}

.date_square {
    min-width: 12vw;
    height: 18vh;
    margin: 1em;
    background: white;
    border: 1px solid #eee;
    display: grid;
    place-items: center;
    font-size: 3vw;
}

.action_btn {
    margin: 0em .5em;
    padding: .5em;
    width: 9vw;
    text-align: center;
}

.update_btn{
    border: 1px solid #eee
}

.delete_btn {
    background: orange;
    cursor:pointer;
}

.slot_add_btn {
    padding: .3em 1em;
    background: #1BA1E2;
    cursor: pointer;
    width: 17vw;
    text-align: center;
    border: 1px solid #eee;
}

.slot_add_btn:hover{
    background: #fff;
    color: #1BA1E2;
}

.slot_details_container {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.slot_details_container h2 {
    font-weight: 200;
    font-size: 1.8vw;
}